:root {
    --red:#CA3604 !important;
    --darkred:#A83311;
    --darkestred:#81290e;
    --pink:#F4E7E0;
}
*{
    margin: 0;
    padding: 0;
}
.dropdown-item:focus, .dropdown-item:hover {
    color:black !important;
    background-color: black !important;
}
body{
    font-family: "Rubik";
    background-color: var(--darkred) !important;
}
.header{
    background-color: #CA3604 !important;
    ;

}
.dropdown li{
    width: 1005;
    background-color: black;
    
}
.dropdown div a{
    padding: 20px;
    margin: 10px;
    text-decoration: none;
    color: white;
}
#movies{
    padding:0 100px;
    text-align: center;
}
#movies img{
    margin: 10px;
}
#movies h1{
    display: inline-block;
}
.bg-primary{
    background-color: var(--pink)!important;
}

.bg-secondary{
    background-color: var(--red)!important;
}

.text-primary{
    color: var(--darkred)!important;
}

.text-secondary{
    color: var(--pink)!important;
}

.btn-primary{
    background-color: var(--red);
    color: var(--pink);
    border-color: var(--darkred);
}

.btn-primary:hover{
    background-color: var(--darkestred);
    border-color: var(--red);
}

.navbar-brand{
    color: var(--pink)!important;
}