:root {
    --red:#CA3604 !important;
    --darkred:#A83311;
    --darkestred:#81290e;
    --pink:#F4E7E0;
}

*{
    margin: 0;
    padding: 0;
}

.dropdown-item:focus, .dropdown-item:hover {
    color:black !important;
    background-color: black !important;
}

body{
    font-family: "Rubik";
    background-color: var(--darkred) !important;
}

.dropdown li{
    width: 1005;
    background-color: black;
    
}

.dropdown div a{
    padding: 20px;
    margin: 10px;
    text-decoration: none;
    color: white;
}
 
#movies{
    padding:0 100px;
    text-align: center;
}
#movies img{
    margin: 10px;
}
#movies h1{
    display: inline-block;
}
.bg-primary{
    background-color: var(--pink)!important;
}

.bg-secondary{
    background-color: var(--red)!important;
}

.text-primary{
    color: var(--darkred)!important;
}

.text-secondary{
    color: var(--pink)!important;
}

.btn-primary{
    background-color: var(--red);
    color: var(--pink);
    border-color: var(--darkred);
}

.btn-primary:hover{
    background-color: var(--darkestred);
    border-color: var(--red);
}

.btn-secondary{
    background-color: var(--pink);
    color: var(--red);
    border-color: var(--pink);
}

.btn-secondary:hover{
    background-color: var(--darkestred);
    border-color: var(--red);
}

.navbar-brand{
    color: var(--pink)!important;
}

input{
    border-radius: 200px;
    background-color: var(--pink);
    color: var(--darkred);
    border-color: var(--darkestred);
}

.choose{
    position:fixed;
    bottom:56px;
}

.highlight{
    background-color: var(--darkestred);
    border-style: none solid;
    border-color: white;
    font-weight: bold;
}

#restrictions-selector{
    padding:0;
}

.restrictions-nav-item{
    padding:13px 0;
    margin:0;
}

.filters-popup{
    width: 90%;
    height: 40%;
    display: flex;
    flex-direction: column;
    border-top: 5px solid black;
    border-left: 5px solid black;
    border-right: 5px solid black;
}

.random-meal{
    border: 5px solid var(--darkestred);
}

.random-meal:hover{
    border: 10px solid var(--red);
}

.random-meal p{
    font-size: 20px;
}

.meal-preview{
    height: 20vh;
    width: 20vw;
}

.hide {
    display: none;
}